<title>About || Yudee Ventures</title>

<div class="fadeinbottom relative z-[1]">
  <div class="relative overflow-hidden bg-no-repeat bg-cover max-w-full" style="
      background-position: 50%;
      background-image: url('rig.png');
      height: 50vh;
    "></div>
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.75)">
    <div class="flex justify-center items-center h-full">
      <div class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]">
        <h2 class="text-2xl md:text-4xl xl:text-5xl font-bold tracking-tight leading-tight mb-12">
          Find Out More <br /><span>About Us!</span>
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row mx-10 mt-10">
  <div class="w-full md:w-1/2 p-5 m-6">
    <div class="abb2 relative overflow-hidden rounded bg-no-repeat bg-cover max-w-full" style="
        background-position: 50%;
        background-image: url('f-engineer.png');
        height: 60vh;
        width: 60vw;
      "></div>
  </div>
  <div class="w-full md:w-1/2 p-10 m-6">
    <p class="anni font-200 text-lg md:text-xl">
      <span class="font-semibold text-[#52a8da]">About Us:</span>Yudee Ventures Ltd is an Oil and gas, engineering,
      marine logistics and
      consultancy firm. We provide quality and safe marine services to the
      offshore oil and gas industry, supporting all phases of the oil and gas
      lifecycle. We adhere to the highest standards of professionalism and
      strive to exceed the expectations of our clients through integrity and
      quality service delivery.
    </p>
  </div>
</div>
<div class="flex flex-col md:flex-row mx-10 mt-10">
  <div class="w-full md:w-1/2 p-10 m-6">
    <p class="abb font-200 text-lg md:text-xl">
      <span class="font-semibold text-[#52a8da]">Our objective:</span> is to establish ourself as the top domestic
      supplier of
      marine logistics, offshore oil and gas, and construction services to the
      energy, power, and oil and gas sectors. Safety is our first priority, and
      we strive to keep a perfect track record of zero incidents and zero
      fatalities in our key business areas. In addition, we're committed to
      fostering the capacity-building of locals and indigenous people in the
      places where we operate.
    </p>
    <div class="abb font-200 text-lg md:text-xl mt-6">
      <p><span class="font-semibold text-[#52a8da]">Our Values:</span></p>
      <ul>
        <li class="list-disc ml-6">
          <p>Honesty and Integrity</p>
        </li>
        <li class="list-disc ml-6">
          <p>Professionalism</p>
        </li>
        <li class="list-disc ml-6">
          <p>Teamwork and interdisciplinary collaboration</p>
        </li>
        <li class="list-disc ml-6">
          <p>Continuous improvement</p>
        </li>
        <li class="list-disc ml-6">
          <p>Diversity of Experiences and ideas</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full md:w-1/2 p-5 m-6">
    <div class="anni2 relative overflow-hidden rounded bg-no-repeat bg-cover max-w-full" style="
        background-position: 50%;
        background-image: url('safety.jpg');
        height: 60vh;
        width: 60vw;
      "></div>
  </div>
</div>
<div class="flex flex-col md:flex-row mx-10 mt-10">
  <div class="w-full justify-center items-center md:justify-left md:items-left p-5 m-6">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/2">
        <div class="abb2 relative overflow-hidden rounded bg-no-repeat bg-cover max-w-full" style="
            background-position: 50%;
            background-image: url('mission-vision.jpg');
            height: 60vh;
            width: 60vw;
          "></div>
      </div>
      <div class="w-full md:w-1/2 px-10 mx-6">
        <h1 class="anni font-extrabold text-[#2651a8] text-2xl lg:text-3xl sm:text-center md:text-left my-4">
          MISSION/VISION STATEMENT
        </h1>
        <p class="anni font-200 text-lg md:text-xl">
          <span class="font-semibold text-[#52a8da]">Our Mission:</span> To provide best value to our clients, by
          delivering superior, technically sound and cost
          effective marine engineering, logistics, oil and gas
          support solutions and services.
        </p>
        <p class="anni font-200 text-lg md:text-xl mt-12">
          <span class="font-semibold text-[#52a8da]">Our Vision:</span>: To be the Marine Engineering & Logistics
          Company of choice, leader in the industry and
          invaluable asset to our clients. We will foster a
          continually learning environment to stay relevant,
          effective and efficient.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="px-20 py-10">
  <p class="anni2 text-xl"></p>
</div> -->