<div class="bg-gray-200 text-center py-4">
    <div class="container">
      <div class="flex justify-center">
        <a href="https://www.facebook.com/" class="text-gray-700 hover:text-gray-900 mx-2">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/" class="text-gray-700 hover:text-gray-900 mx-2">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://twitter.com/" class="text-gray-700 hover:text-gray-900 mx-2">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </div>
      <p>&copy; 2020</p>
    </div>
  </div>