<title>Home || Yudee Ventures</title>

<body>
  <div>
    <div class="relative overflow-hidden bg-no-repeat bg-cover max-w-full" style="
          background-position: 50%;
          background-image: url('is.jpg');
          height: 70vh;
        ">
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)">
        <div class="flex justify-center items-center h-full">
          <div class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]">
            <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-12">
              Are you ready <br /><span>for an adventure?</span>
            </h2>
            <p class="text-lg">
              Services and Engineering Solutions for a Sustainable Future - Delivering Quality and Reliability.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col sm:flex-row mx-10">
    <div class="w-full sm:w-1/2 p-10">
      <!-- Left column content goes here -->
      <div class="justify-center items-center">
        <h1 class="text-xl md:text-2xl font-bold text-center mb-4">AIMS AND OBJECTIVES</h1>
      </div>
      <p class="text-sm md:text-xl text-justify">Our goal is to become the leading indigenous provider of marine logistics, oil and gas, and construction
        services to the energy,
        power, and offshore oil and gas industries. We prioritize safety above all else, and our aim is to maintain a
        perfect record of zero
        incidents and zero fatalities in our core areas of business. Additionally, we are dedicated to enhancing the
        capacity development
        of indigenous people and residents in the areas where we operate.</p>
    </div>
    <div class="w-full sm:w-1/2 p-10">
      <!-- Right column content goes here -->
      <div>
        <img src="worker.jpg" alt="Our Workers" srcset="">
      </div>
    </div>
  </div>

  </div>
</body>