<title>Home || Yudee Ventures</title>


<div>
  <div class="fadeinbottom relative overflow-hidden bg-no-repeat bg-cover max-w-full" style="
        background-position: 50%;
        background-image: url('is.jpg');
        height: 80vh;
      ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed">
      <!-- style="background-color: rgba(0, 0, 0, 0.75)" -->
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]">
          <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-12"
            style="text-shadow: 5px 2px 1px gray;">
            Are you ready <br /><span>for an adventure?</span>
          </h2>
          <p class="text-lg" style="text-shadow: 5px 2px 1px gray;">
            Services and Engineering Solutions for a Sustainable Future<br />
            Delivering Quality and Reliability.
          </p>
          <div class="flex justify-center space-x-2">
            <div class="flex justify-center space-x-2 mt-5">
              <button type="button"
                class="inline-block rounded mx-4 bg-[#2651a8] hover:bg-[#52a8da] font-semibold px-6 pt-2.5 pb-2 text-xs font-medium 
                uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out 
                hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
                focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
                focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
                <a href="/Contact">
                  <h1 class="font-semibold">Contact Us</h1>
                </a>
              </button>
              <button type="button" class="inline-block rounded mx-4 hover:bg-[#2651a8] bg-[#52a8da] px-6 pt-2.5 pb-2 text-xs font-medium uppercase 
                leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 
                focus:bg-primary-accent-100 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
                focus:outline-none focus:ring-0 active:bg-primary-accent-200">
                <a href="/about">
                  <h1 class="font-semibold">Learn More</h1>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row mx-10 mt-10 dark:text-white">
  <div class="w-full md:w-1/2 p-10">
    <!-- Left column content goes here -->
    <div class="justify-center items-center anni2">
      <h1 class="text-2xl lg:text-3xl text-[#2651a8] font-extrabold sm:text-center md:text-left mb-4">
        AIMS AND OBJECTIVES
      </h1>
    </div>
    <p class="anni2 text-lg lg:text-xl">
      Our goal is to become the leading indigenous provider of marine
      logistics, oil and gas, and construction services to the energy, power,
      and offshore oil and gas industries. <br />
      We prioritize safety above all else, and our aim is to maintain a
      perfect record of zero incidents and zero fatalities in our core areas
      of business. Additionally, we are dedicated to enhancing the capacity
      development of indigenous people and residents in the areas where we
      operate.
    </p>
    <button type="button"
      class="anni2 inline-block rounded bg-[#2651a8] hover:bg-[#52a8da] mt-10 px-6 pt-2.5 pb-2 text-xs 
      font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 
      ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
      focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
      focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
      <a href="/services">
        <h1 class="font-semibold">Our Services</h1>
      </a>
    </button>
  </div>
  <div class="w-full md:w-1/2 p-5">
    <!-- Right column content goes here -->
    <div class="anni bg-cover rounded w-full bg-no-repeat m-5" style="
          background-position: 50%;
          background-image: url('worker.jpg');
          height: 50vh;
          width: auto;
        "></div>
  </div>
</div>
<div class="mx-10 p-10 dark:text-white">
  <div class="w-full justify-center items-center md:justify-left md:items-left mt-10">
    <h1 class="anni font-extrabold text-[#2651a8] text-2xl lg:text-3xl sm:text-center md:text-left my-4">
      CLIENTELE BASE:
    </h1>
    <p class="text-lg lg:text-xl anni">
      Our experience and track record of excellence and value creation is
      evident in our client list and the exemplary service we deliver to them
      The client list below is a representation of our portfolio
    </p>
  </div>
  <div class="anni grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div class="grid1-item p-4">
      <div class="m-auto p-6 h-56 w-56">
        <img class="m-auto" src="Chevron.png" alt="" srcset="" />
      </div>
    </div>
    <div class="grid1-item p-4">
      <div class="m-auto p-6 h-56 w-56">
        <img class="my-10" src="Seplat.webp" alt="" srcset="" />
      </div>
    </div>
    <div class="grid1-item p-4">
      <div class="m-auto p-6 h-56 w-56">
        <img class="m-auto" src="Shell_nigeria.png" alt="" srcset="" />
      </div>
    </div>
    <div class="grid1-item p-4">
      <div class="m-auto p-6 h-56 w-56">
        <img class="my-5" src="TotalEnergies_logo.svg.png" alt="" srcset="" />
      </div>
    </div>
  </div>
</div>
<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
    <figure class="anni2 max-w-screen-md mx-auto">
      <svg class="h-12 mx-auto mb-3 text-[#2651a8] dark:text-gray-600" viewBox="0 0 24 27" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 
          18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
          fill="currentColor" />
      </svg>
      <blockquote>
        <p class="text-2xl md:text-3xl font-medium text-gray-900 dark:text-white">"I can definitely say that I would
          highly
          recommend Yudee Ventures Ltd. Great Services
          at all times."</p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
          <div class="pr-3 md:text-xl font-medium text-gray-900 dark:text-white">Adeyemi Pascal
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
<div class="mx-10 p-10 dark:text-white">
  <div class="w-full justify-center items-center mt-10">
    <h1 class="anni font-extrabold text-[#2651a8] text-2xl lg:text-3xl text-center my-4">
      OUR GALLERY:
    </h1>
  </div>
  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 6</div>
      <img class="rounded gal-img" src="img1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 6</div>
      <img class="rounded gal-img" src="img2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 6</div>
      <img class="rounded gal-img" src="img3.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 6</div>
      <img class="rounded gal-img" src="img4.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">5 / 6</div>
      <img class="rounded gal-img" src="img5.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">6 / 6</div>
      <img class="rounded gal-img" src="img6.jpg" style="width:100%">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
  </div>
</div>