<title>Home || Yudee Ventures</title>

<body>
  <div>
    <div
      class="fadeinbottom relative overflow-hidden bg-no-repeat bg-cover max-w-full"
      style="
        background-position: 50%;
        background-image: url('is.jpg');
        height: 80vh;
      "
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)"
      >
        <div class="flex justify-center items-center h-full">
          <div
            class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
          >
            <h2
              class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-12"
            >
              Are you ready <br /><span>for an adventure?</span>
            </h2>
            <p class="text-lg">
              Services and Engineering Solutions for a Sustainable Future<br/>
              Delivering Quality and Reliability.
            </p>
            <div class="flex justify-center space-x-2">
              <div class="flex justify-center space-x-2 mt-5">
                <button
                  type="button"
                  class="inline-block rounded mx-4 bg-[#2651a8] hover:bg-[#52a8da] font-semibold px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                ><a href="/Contact"><h1 class="font-semibold">Contact Us</h1></a>
                </button>
                <button
                  type="button"
                  class="inline-block rounded mx-4 hover:bg-[#2651a8] bg-[#52a8da] px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                ><a href="/about"><h1 class="font-semibold">Learn More</h1></a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row mx-10 mt-10">
    <div class="w-full md:w-1/2 p-10">
      <!-- Left column content goes here -->
      <div class="justify-center items-center anni2">
        <h1
          class="text-xl lg:text-2xl font-bold sm:text-center md:text-left mb-4"
        >
          AIMS AND OBJECTIVES
        </h1>
      </div>
      <p class="anni2 text-sm lg:text-xl">
        Our goal is to become the leading indigenous provider of marine
        logistics, oil and gas, and construction services to the energy, power,
        and offshore oil and gas industries. <br />
        We prioritize safety above all else, and our aim is to maintain a
        perfect record of zero incidents and zero fatalities in our core areas
        of business. Additionally, we are dedicated to enhancing the capacity
        development of indigenous people and residents in the areas where we
        operate.
      </p>
      <button
        type="button"
        class="inline-block rounded bg-[#2651a8] hover:bg-[#52a8da] mt-10 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
      ><a href="/services"><h1 class="font-semibold">Our Services</h1></a>
      </button>
    </div>
    <div class="w-full md:w-1/2 p-5">
      <!-- Right column content goes here -->
      <div
        class="anni bg-cover rounded bg-no-repeat m-5"
        style="
          background-position: 50%;
          background-image: url('worker.jpg');
          height: 60vh;
        "
      ></div>
    </div>
  </div>
  <div class="mx-10 p-10">
    <div
      class="w-full justify-center items-center md:justify-left md:items-left mt-10"
    >
      <h1
        class="anni font-bold text-xl md:text-2xl sm:text-center md:text-left my-4"
      >
        CLIENTELE BASE:
      </h1>
      <p class="text-sm lg:text-xl anni">
        Our experience and track record of excellence and value creation is
        evident in our client list and the exemplary service we deliver to them
        The client list below is a representation of our portfolio
      </p>
    </div>
    <div class="anni grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="grid1-item p-4">
        <div class="m-auto p-6 h-56 w-56">
          <img class="m-auto" src="Chevron.png" alt="" srcset="" />
        </div>
      </div>
      <div class="grid1-item p-4">
        <div class="m-auto p-6 h-56 w-56">
          <img class="my-10" src="Seplat.webp" alt="" srcset="" />
        </div>
      </div>
      <div class="grid1-item p-4">
        <div class="m-auto p-6 h-56 w-56">
          <img class="m-auto" src="Shell_nigeria.png" alt="" srcset="" />
        </div>
      </div>
      <div class="grid1-item p-4">
        <div class="m-auto p-6 h-56 w-56">
          <img class="my-5" src="TotalEnergies_logo.svg.png" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</body>
