<nav class="top-0 left-0 bg-white w-full shadow z-[100]">
  <div class="container m-auto flex justify-between item-center"
  style="color: #2651a8;">
    <div>
      <span
        class="pl-5 py-3 text-sm md:text-l lg:text-xl font-bold flex font-[Poppins] cursor-pointer"
      >
        <img class="h-16" src="yv-logo.png" />
        <span class="justify-center items-center my-auto">
          <!-- <p>Yudee Ventures</p> -->
        </span>
      </span>
    </div>
    <div class="p-1">
      <ul
        class="hidden md:flex items-center text-base font-semibold cursor-pointer m-auto"
      >
        <a href="/">
          <li class="hover:bg-[#2651a8] hover:text-gray-100 py-4 px-6 rounded">Home</li>
        </a>
        <a href="/about">
          <li class="hover:bg-[#2651a8] hover:text-gray-100 py-4 px-6 rounded">About</li>
        </a>
        <a href="/services">
          <li class="hover:bg-[#2651a8] hover:text-gray-100 py-4 px-6 rounded">
            Services
          </li>
        </a>
        <a href="/contact">
          <li class="hover:bg-[#2651a8] hover:text-gray-100 py-4 px-6 rounded">
            Contact
          </li>
        </a>
      </ul>
      <button
        id="mobile_menu_button"
        class="block md:hidden py-4 px-4 mx-2 mt-1 rounded focus:outline-none hover:bg-gray-200"
      >
        <div class="w-5 h-1 bg-gray-800 mb-1"></div>
        <div class="w-5 h-1 bg-gray-800 mb-1"></div>
        <div class="w-5 h-1 bg-gray-800"></div>
      </button>
    </div>
    <div
      id="mobile_menu"
      class="absolute hidden top-0 right-0 h-screen w-8/12 bg-white border z-[10]"
    >
      <button id="cancel_menu" class="rounded-full hover:bg-gray-200">
        <p class="p-4 text-xl"><i class="fa fa-times-circle"></i></p>
      </button>
      <ul class="flex flex-col items-center w-full text-base">
        <a class="hover:bg-gray-200 py-4 px-6 w-full cursor-pointer" href="/">
          <li>
            <p class="m-auto text-center">Home</p>
          </li>
        </a>
        <a
          class="hover:bg-gray-200 py-4 px-6 w-full cursor-pointer"
          href="/about"
        >
          <li>
            <p class="m-auto text-center">About</p>
          </li>
        </a>
        <a
          class="hover:bg-gray-200 py-4 px-6 w-full cursor-pointer"
          href="/services"
        >
          <li>
            <p class="m-auto text-center">Services</p>
          </li>
        </a>
        <a
          class="hover:bg-gray-200 py-4 px-6 w-full cursor-pointer"
          href="/contact"
        >
          <li>
            <p class="m-auto text-center">Contact</p>
          </li>
        </a>
      </ul>
    </div>
  </div>
</nav>
