<title>Services || Yudee Ventures</title>

<div class="fadeinbottom relative z-[1]">
  <div
    class="relative overflow-hidden bg-no-repeat bg-cover max-w-full"
    style="
      background-position: 50%;
      background-image: url('service.png');
      height: 50vh;
    "
  ></div>
  <div
    class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.75)"
  >
    <div class="flex justify-center items-center h-full">
      <div
        class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
      >
        <h2
          class="text-2xl md:text-4xl xl:text-5xl font-bold tracking-tight leading-tight mb-12"
        >
          Experience Our<br /><span>Services!</span>
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row mx-10 mt-10">
  <div class="w-full md:w-1/2 p-10">
    <!-- Left column content goes here -->
    <div class="justify-center items-center anni2">
      <h1
        class="text-xl lg:text-2xl font-bold sm:text-center md:text-left mb-4"
      >
        OUR SERVICES
      </h1>
    </div>
    <p class="anni2 text-sm lg:text-xl">
      Yudee Ventures limited provides a wide spectrum cost efficient and safe
      services that are uniquely designed to offer solutions to today’s
      operational demands across all phases in the upstream offshore service
      cycle.
    </p>
    <button
    type="button"
    class="inline-block rounded mt-10 bg-[#2651a8] hover:bg-[#52a8da] font-semibold px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
  ><a href="/Contact"><h1 class="font-semibold">Contact Us</h1></a>
  </button>
  </div>
  <div class="w-full md:w-1/2 p-5">
    <!-- Right column content goes here -->
    <div
      class="anni bg-cover rounded bg-no-repeat m-5"
      style="
        background-position: 50%;
        background-image: url('faa.jpg');
        height: 60vh;
      "
    ></div>
  </div>
</div>

<!-- The card session -->
<div class="mx-10 mt-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pl-10">
    <div
      class="abb max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-5"
    >
      <a href="#">
        <img class="rounded-t-lg" src="vessel.jpg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Supply, Operation and Management of vessels
          </h5>
        </a>
      </div>
    </div>
    <div
      class="abb2 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-5"
    >
      <a href="#">
        <img class="rounded-t-lg" src="Marine-maintenance.jpg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Marine Technical Management Services
          </h5>
        </a>
      </div>
    </div>
    <div
      class="anni max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-5"
    >
      <a href="#">
        <img class="rounded-t-lg" src="restoration.jpg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Environmental restoration services
          </h5>
        </a>
      </div>
    </div>
    <div
      class="abb max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-5"
    >
      <a href="#">
        <img class="rounded-t-lg" src="manpower.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Man power supply
          </h5>
        </a>
      </div>
    </div>
    <div
      class="abb2 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-5"
    >
        <img class="rounded-t-lg" src="laundry.jpg" alt="" />
      <div class="p-5">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Catering, housekeeping and Laundry
          </h5>
      </div>
    </div>
    <div
      class="anni max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-5"
    >
        <img class="rounded-t-lg" src="Civil-5.jpg" alt="" />
      <div class="p-5">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Civil and Mechanical Engineering
          </h5>
      </div>
    </div>
  </div>
</div>
<div class="mx-15 pb-10 px-20">
  <div
      class="w-full justify-center items-center md:justify-left md:items-left">
        <p class="text-sm lg:text-xl anni">We have the knowledge, experience and resources to plan and deliver services
          and projects of all sizes – from short-term ‘spot hires’ of vessels,
          equipment or specialist personnel, through to large scale project management
          comprising multiple stakeholders and long-term, multi-phase operational
          delivery.</p>
    </div>
</div>
