<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description"
    content="Yudee Ventures Ltd. is a professional and experienced oil and gas, engineering, marine logistics, and consultancy firm. Our mission is to provide the highest quality and safest marine services to the offshore oil and gas industry, supporting all phases of the oil and gas lifecycle. Our core values of honesty, integrity, and teamwork guide our commitment to delivering superior and cost-effective solutions to our clients. We strive to be the Marine Engineering & Logistics Company of choice, a leader in the industry, and an invaluable asset to our clients.">
  <meta name="author" content="Yudee Ventures">
  <meta name="keywords" content="Maritime, Cleaning, Staff, Maritime services, Marine engineering, Ship repairs, Ship maintenance, 
    Marine transportation, Ship management, Cargo handling, Offshore support services, Maritime logistics, 
    Marine surveying, Vessel inspections, Marine safety, Marine consulting, Marine procurement, Shipyard services, 
    Marine equipment sales, Marine parts supply, Port services, Marine fueling, Marine waste management"
  >
  
  <meta property="og:title" content="Yudee Ventures Ltd." />
  <meta property="og:description" content="Yudee Ventures Ltd. is a professional and experienced oil and gas, engineering, marine logistics, and consultancy firm. Our mission is to provide the highest quality and safest marine services to the offshore oil and gas industry, supporting all phases of the oil and gas lifecycle. Our core values of honesty, integrity, and teamwork guide our commitment to delivering superior and cost-effective solutions to our clients. We strive to be the Marine Engineering & Logistics Company of choice, a leader in the industry, and an invaluable asset to our clients.">
  <meta property="og:image" content="https://www.yudeeventures.com/img1.jpg">
  <meta property="og:url" content="http://www.yudeeventures.com" />
  <meta property="og:type" content="website" />
  <meta name="geo.placename" content="Lagos, Nigeria">
  <meta name="geo.position"  content="6.442510580381303; 3.477391101294746">

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <title>Yudee Ventures</title> -->
  <link rel="stylesheet" href="animation.css" />
  <link rel="stylesheet" href="output.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="general.css">
  <link rel="stylesheet" href="gallery.css">
  <link rel="icon" type="image/x-icon" href="fav.png">
</head>

<body>
  <div>
    <%- include ('../navbar.ejs') %>
      <main class="min-h-screen min-w-screen bg-gray-200 dark:bg-gray-400"><%- body %></main>
      <%- include ('../footer.ejs')%>
  </div>

  <script src="scrollreveal.js"></script>
  <script src="main.js"></script>
  <script src="annis.js"></script>
</body>

</html>