<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Yudee Ventures</title> -->
    <link rel="stylesheet" href="animation.css" />
    <link rel="stylesheet" href="output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="intTelInput.css">
  </head>
  <body>
    <div>
      <%- include ('../navbar.ejs') %>
      <main class="min-h-screen min-w-screen bg-gray-200"><%- body %></main>
      <%- include ('../footer.ejs')%>
    </div>

    <script src="scrollreveal.js"></script>
    <script src="main.js"></script>
    <script src="annis.js"></script>
    <script>
      let input = document.querySelector("#phone-number");
      window.intlTelInput(input, {});
    </script>
  </body>
</html>
